%div.wrapper
  %table.table.table-striped
    %h3.text-center Books
    %thead
      %tr
        %th Title
        %th Author
        %th Description
        %th ISBN
        %th
    %tbody
      -@books.each do |book|
        %tr
          %td=book.title
          %td.author=book.author
          %td=truncate(book.description, length: 200, separator: ' ')
          %td=book.ISBN
          %td=link_to "Show", book
          %td=link_to "Edit", edit_book_path(book)
          %td=link_to "Delete", book, method: "delete"
  %span2.offset6
    =link_to "Add New Book", new_book_path, class: "btn btn-primary center"


