// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.myform {
	margin-top: 50px;
	border-radius: 10px;
}

.mythumbnail {
	box-shadow: 0 0 5px 6px #ccc;
	margin-right: 40px !important;
	margin-bottom: 20px;
}

.mybook {
	margin-left: 50px;
	margin-top: 50px !important;
}